[submodule "survey/questions/answer/multipleshorttext/assets/scripts/jquery-ui-touch-punch"]
	path = survey/questions/answer/multipleshorttext/assets/scripts/jquery-ui-touch-punch
	url = https://github.com/furf/jquery-ui-touch-punch
